server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://192.168.186.36:5432/ticketing}
    username: ${DB_USER:ticketing}
    password: ${DB_PASS:ticketing}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true
app:
  bootstrap:
    org-id: "11111111-1111-1111-1111-111111111111"
    admin-user-id: "22222222-2222-2222-2222-222222222222"